@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Poppins:ital,wght@1,600&display=swap");
body {
  padding: 0;
  margin: 0;
  font-family: Poppins, sans-serif;
  font-size: large;
  background-color: #333;
  color: #ffffff;
  text-align: left;
}

/*--------------------------------------------------  Header styles--------------------------------------------------  */
header {
  background-color: #000000;
  background-position: center;
  margin: 0;
  padding: 0;
  text-align: center;
}

header .profile-image {
  text-align: center;
}

header .image-container {
  display: inline-block;
  margin-top: 10px;
  width: 150px;
  height: 150px;
  overflow: hidden;
  border-radius: 50%;
}

header .image-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

header h1 {
  font-size: 32px;
  margin-bottom: 5px;
  color: #ff6600;
}

header h2 {
  font-size: 20px;
  margin-bottom: 10px;
  color: #ff6600;
}

header p {
  font-size: 16px;
  margin-bottom: 20px;
}

header a {
  color: #ff6600;
  display: inline-block;
  margin-right: 0px;
  text-decoration: underline;
}

/*--------------------------------------------------  Section styles -------------------------------------------------- */
.color1 {
  color: #ff6600;
  text-emphasis-style: bold;
}
section {
  margin: 30px 0;
  padding: 0 20px;
}
ul {
  list-style-type: none;
  padding: 0;
}

section h2 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #ff6600;
  background-color: #000000;
  margin: 0;
  padding: 0;
}
#achievements li {
  list-style-type: block;
  padding: 10px;
  font-weight: lighter;
}

/*-------------------------------------------------- Footer styles-------------------------------------------------- */
footer {
  background-color: #000000;
  border: none;
  padding: 0px;
  text-align: center;
  font-weight: bolder;
}

footer h3 {
  font-size: 20px;
  margin-bottom: 10px;
}

footer form input,
footer form textarea {
  font-family: Poppins, sans-serif;
  background-color: #333;
  color: #ffffff;
  display: block;
  width: 100%;
  border-radius: 20px;
  border: none;
  margin-bottom: 10px;
  padding: 10px;
}
input::placeholder {
  color: white;
  font-style: italic;
}
textarea::placeholder {
  color: white;
  font-style: italic;
}

footer form button {
  font-family: Poppins, sans-serif;
  background-color: #333;
  color: #fff;
  display: block;
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
}

footer p {
  margin-top: 10px;
}
#social-links a {
  display: inline-block;
  margin-right: 10px;
  color: #ffffff;
  border: none;
  filter: invert(30);
}
#social-links a:hover {
  transform: scale(1.1);
}
/* ---------------------------------------------NAV BAR CODE---------------------------------------------*/
nav {
  background-color: #333;
  display: flex;
  justify-content: space-evenly;
}

nav ul {
  list-style-type: square;
  padding: 2;
  margin: 0;
}

nav li {
  display: inline-block;
  justify-content: space-evenly;
}

nav a {
  display: flex;
  padding: 15px 30px;
  text-decoration: none;
  color: #ff6600;
}

nav a:hover {
  color: white;
  background-color: #ff6600;
  border: none;
  border-radius: 20px;
  transform: scale(0.8);
}

/* ---------------------------------------------MENU BUTTON CODE-----------------------------------------------------*/
.menu-btn {
  display: none;
  cursor: pointer;
}

.menu-btn span {
  display: block;
  width: 25px;
  height: 3px;
  margin-bottom: 5px;
  background-color: #ff6600;
}
/*-------------------------------------------- Hides the checkbox--------------------------------------------------- */
#menu-toggle {
  display: none;
}
/*----------------------------------------------- Styles for the menu -----------------------------------------------*/
.menu {
  display: flex;
  justify-content: center;
}

.menu li {
  list-style: none;
  margin: 0 10px;
}

.menu li a {
  text-decoration: none;
  color: #ffffff;
}

/* ------------------------------------------GRID CONTAINER--------------------------------------------------------- */
.grid-container {
  /* display: grid; */
  grid-template-columns: repeat(2, 1fr); /* Two equal-width columns */
  grid-gap: 20px;
}

.grid-item {
  padding: 20px;
  background-color: #000000;
  color: #ffffff;
}

#contact {
  grid-column: 1 / 2; /* Place contact div in the first column */
}

#social-links {
  grid-column: 2 / 3; /* Place social-links div in the second column */
}

/*------------------------------------Media query for Device Responsiveness------------------------------------------*/
@media screen and (max-width: 700px) {
  .menu {
    display: none;
  }

  .menu-btn {
    display: block;
  }

  /*------------------------------------- Show menu when checkbox is checked ----------------------------------------*/
  #menu-toggle:checked ~ .menu {
    display: flex;
    flex-direction: column;
  }
  body {
    padding: 0;
    margin: 0;
    font-family: Poppins, sans-serif;
    background-color: #333;
    font-size: small;
    color: #ffffff;
    text-align: center;
  }
  #achievements li {
    list-style-type: none;
  }
}
/* ---------------------------Responsiveness for Tablets or Larger Phones/Devices----------------------------------- */
@media (min-width: 768px) and (max-width: 1023px) {
  .grid-container {
    display: grid;
    grid-template-rows: none;
  }

  .grid-item {
    padding: 20px;
    background-color: #000000;
    color: #ffffff;
  }

  #contact {
    grid-row: 1 / 2;
  }

  #social-links {
    grid-row: 1 / 2;
  }

  .menu {
    display: none;
  }

  .menu-btn {
    display: block;
  }

  #menu-toggle:checked ~ .menu {
    display: flex;
    flex-direction: column;
  }
  body {
    padding: 0;
    margin: 0;
    font-family: Poppins, sans-serif;
    background-color: #333;
    font-size: small;
    color: #ffffff;
    text-align: center;
  }
}
/* ----------------------------Responsiveness for Desktop or devices larger than 1024px----------------------------- */
@media (min-width: 1024px) {
  body {
    padding: 0;
    margin: 0;
    font-family: Poppins, sans-serif;
    background-color: #333;
    font-size: medium;
    color: #ffffff;
    text-align: left;
  }
  .grid-container {
    display: grid;
    grid-template-rows: none;
  }

  .grid-item {
    padding: 20px;
    background-color: #000000;
    color: #ffffff;
  }

  #contact {
    grid-row: 1 / 2;
  }

  #social-links {
    grid-row: 1 / 2;
  }
}
