@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&family=Poppins:ital,wght@1,600&display=swap");

* {
  padding: 0;
  margin: 0;
  background-color: #000000;
  color: white;
  font-family: Poppins, sans-serif;
}
/* ---------------------------------------------NAV BAR CODE---------------------------------------------*/
nav {
  background-color: #000000;
  display: flex;
  justify-content: space-around;
  justify-content: space-evenly;
}

nav ul {
  list-style-type: square;
  padding: 2;
  margin: 0;
}

nav li {
  display: inline-block;
  justify-content: space-evenly;
}

nav a {
  display: flex;
  padding: 15px 30px;
  text-decoration: none;
  color: #ff6600;
}

nav a:hover {
  background-color: #f38200;
}

section {
  margin-top: 45px;
  padding: 10px;
}
/* ---------------------------------------------Footer Form CODE---------------------------------------------*/

